@font-face {
    font-family: digital-7;
    src: url('../webfonts/digital-7.ttf');
}

.shadow{
    -moz-box-shadow: 10px 10px 44px #300dba;
    -webkit-box-shadow: 10px 10px 44px #300dba;
    box-shadow: 10px 10px 44px #300dba;
}

.border-radius{
    border:solid 3px #000000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.item-box {
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.item{
    height: 80%;
    display: inline-block;
    vertical-align: middle;
}

.general-box-75 {
    height: 75px;
    display: inline-block;
    vertical-align: middle;
}

.top-20 {
    margin-top:20px;
}

.top-10 {
    margin-top:10px;
}

.bottom-20 {
    margin-bottom:20px;
}

.margin-10{
    margin-top: 10px;
    margin-left: 10px;
}

.margin-top-10{
    margin-top: 10px;
}

.padding-10{
    padding-top: 10px;
    padding-left: 10px;
}

.padding-left-5{
    padding-left: 5px;
}

.shelf{
    background-image: url("../img/shelf.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
}

#panel{
    height: 400px;
}

#display-panel{
    background-color: #0303ff;
    border: solid black 3px;
    height: 60px;
}

p#display-text{
    font-size: 24px;
    font-family: digital-7;
    color: white;
}

#entered-cash-panel{
    background-color: #0303ff;
    border: solid black 3px;
    height: 60px;
}

p#display-entered-cash{
    font-size: 24px;
    font-family: digital-7;
    color: white;
}