<!-- Vending-Machine Client Panel -->
<div class="col-md-4">
    <div id="panel">
        <div class="row">
            <div id="display-panel" class="col-md-7 padding-10 margin-top-10">
                <p id="display-text">{{textToDisplay}}</p>
            </div>
            <div id="entered-cash-panel" class="col-md-2 margin-top-10 padding-10 padding-left-5">
                <p id="display-entered-cash">{{clientWallet.total.toFixed(2)}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="text-center margin-top-10">Choose row:</p>
            </div>

            <div class="col-md-8 padding-10 margin-10">
                <div class="btn-group-lg">
                    <label class="btn btn-success" ng-model="itemRow" uib-btn-radio="'A'" ng-click="fillText()">A</label>
                    <label class="btn btn-success" ng-model="itemRow" uib-btn-radio="'B'" ng-click="fillText()">B</label>
                    <label class="btn btn-success" ng-model="itemRow" uib-btn-radio="'C'" ng-click="fillText()">C</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 margin-top-10">
                <p class="text-center">Choose item:</p>
            </div>
            <div class="col-md-8 padding-10 margin-10">
                <div class="btn-group-lg">
                    <label class="btn btn-success" ng-model="itemNo" uib-btn-radio="'0'" ng-click="fillText()">1</label>
                    <label class="btn btn-success" ng-model="itemNo" uib-btn-radio="'1'" ng-click="fillText()">2</label>
                    <label class="btn btn-success" ng-model="itemNo" uib-btn-radio="'2'" ng-click="fillText()">3</label>
                    <label class="btn btn-success" ng-model="itemNo" uib-btn-radio="'3'" ng-click="fillText()">4</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 padding-10 margin-10" data-toggle="tooltip" title="Click here to insert money!">
                <img id="coinsInput" src="/img/coin-slot-machine-panel-front.png" class="general-box-75" ng-click="openInsertCoinsModal()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 padding-10 margin-10">
                <button type="button" class="btn" data-toggle="tooltip" title="Click here to get Your money back!">
                    <img id="returnChange" src="/img/return-change.png" class="general-box-75 btn" ng-click="returnChange()"/>
                </button>
            </div>
        </div>
    </div>
</div>