<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="/img/coins/oneCent.png" ng-click="enterCash(0.01)" alt="1 Cent" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/twoCents.png" ng-click="enterCash(0.02)" alt="2 Cents" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/fiveCents.png" ng-click="enterCash(0.05)" alt="5 Cents" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/tenCents.png" ng-click="enterCash(0.1)" alt="10 Cents" class="general-box-75"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="/img/coins/twentyCents.png" ng-click="enterCash(0.2)" alt="20 Cents" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/fiftyCents.png" ng-click="enterCash(0.5)" alt="50 Cents" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/oneEuro.png" ng-click="enterCash(1)" alt="1 euro" class="general-box-75"/>
            </div>
            <div class="col-md-3">
                <img src="/img/coins/twoEuro.png" ng-click="enterCash(2)" alt="2 euros" class="general-box-75"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="/img/coins/5-euro.png" ng-click="enterCash(5)" alt="2 euros" class="general-box-75"/>
            </div>
            <div class="col-md-5 col-md-offset-3">
                <h3>Entered money: <b>{{ wallet.total.toFixed(2) }}</b></h3>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>