<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <b>Clients received change: {{returnMessage}} euro(s).</b>
            <ul ng-repeat="coin in coins">
               <li>{{coin.coinType}} x {{coin.count}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
</div>