<div class="row">
    <div class="col-md-offset-5 col-m2-2">
        <p>{{title}}</p>
    </div>
</div>
<div class="row">
    <!-- Vending-Machine Screen -->
    <div class="col-md-offset-3 col-md-5">
        <div class="shadow border-radius">
            <div ng-repeat="row in availableItems">
                <div class="row top-20">
                    <div class="col-md-1">
                        <label class="btn btn-default">{{row.rowNo}}</label>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div ng-repeat="item in row.items">
                                <div class="col-md-3">
                                    <div class="item-box">
                                        <img src="{{findProductSrc(item.id)}}" alt="{{item.name}}" class="item"/>
                                        <p>{{item.volume != undefined ?
                                            'Item: ' + ($index + 1) + ' (vol. : ' + item.volume + ')' :
                                            item.name != undefined ? 'Item: ' + ($index + 1) : '' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="shelf bottom-20"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vending-Machine Client Panel -->
    <display-panel></display-panel>
</div>